.products {
  width: fit-content;
  block-size: fit-content;
}
.navigate{
    margin: 1rem 1rem;
}
.add-to-cart{
    margin: 1rem 1rem;
}
.price{
    font-size: 20px;
}
.error{
    color: red;
    margin: 1rem 1rem;
}